body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
  /* Default values */
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}
.container {
  /* max-width: 1158px; */
  /* width: 100%; */
  width: 320px;
  /* padding: 0 15px; */
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}
h1,
h2,
h3,
p {
  margin: 0;
}

a:link {
  text-decoration: none;
}

ul.a {
  list-style-position: outside;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

h2 {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

img{
  display: block;
  max-width: 100%;
  height: auto;
}
/* Header*/
.heder-container {
  justify-content: space-between;
  width: 1440px;
  height: 72px;
  flex-shrink: 0;
  display: flex;
}
.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.nav {
  display: flex;
  align-items: center;
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.list-nav {
  display: none;
  align-items: flex-start;
  gap: 40px;
}

.list-item {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
.list-item:hover {
  color: #404bbf;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  justify-content: center;
  color: #4d5ae5;
  margin-right: 149px;
}

.logo-span {
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.icons-burger{

 margin-right: 16px;
}
.current.link {
  position: relative;
  color: #404bbf;
}
.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.link {
  color: #2e2f42;
  font-family: Roboto;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  color: #404bbf;
}

.link:focus {
  color: #404bbf;
  }

.address {
  display: none;
  }

.list-adress-link {
  color: var(--SLATE, #434455);
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-adress:hover {
  color: #404bbf;
}
.list-adress:focus {
  color: #404bbf;
}

.mob-menu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  position: none;
}
.mob-menu-close{
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
 cursor: pointer;
 position: absolute;
 top: 24px;
 right: 24px;
 display: flex;
 justify-content: center;
 align-items: center;
 border: 1px solid rgba(0, 0, 0, 0.1);
 background-color: transparent;
}
 
.icons-close{

}
.list-nav-mob{
 
  
 }

.list-item-mob{
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
padding-top: 72px;
padding-left: 16px;
}
.link-mob{
  color: #2e2f42;
  font-family: Roboto;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-adress-mob{
display: flex;
flex-direction: column;
gap: 24px;
padding-left: 16px;
padding-top: 158px;
}
.list-adress-link-mob{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: 4D5AE5;
}
.icons-mob-list{

}
.icons-mob-menu{
  width: 40px;
  height: 40px;
}
.icons-mob-link{
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-mob{
fill: #ffffff;
}
.icons-burger{
  margin-left: auto;
}

/* section1 */
.container-title {
  display: block;
  text-align: center;
}
.section-list {
  background: #2e2f42;
  max-width: 1440px;
  height: 600px;
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Portfolio/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.title-main {
  color: #fff;
  font-family: Roboto;
  
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}

.button {
  display: block;
  gap: 10px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  padding: 16px 32px;
  border: none;
  min-width: 169px;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover {
  background-color: #404bbf;
}
button:focus {
  background-color: #404bbf;
}

/* section2 */
.container-advanteges {
}
.section-advant {
  padding-top: 48px;
  padding-bottom: 48px;
  flex-shrink: 0;
}


.title-advant-hiden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title-advant {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  margin: 0 auto;
 }
.list-text {
  color: #434455;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.item-advant {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  }

  .item-advant-wrap{
    margin-bottom: 72px;
  }
.list-advant {
  display: block;
  align-items: flex-start;
  gap: 24px;
}
.icons-advant {
  margin: 24px 100px;
}
.icons-advant-link {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background: #f4f4fd;
}
.ad-hidden {
  /* position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; */
  display: none;
}


/* section3 */

.section-portfolio {
  background-color: #f4f4fd;
  padding-top: 48px;
  padding-bottom: 48px;
}
.ul-our-team {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}
.title-team {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.list-our-team {
  background: #fff;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.name-team {
  padding: 32px 0;
}
.container-our-team {
}

.img-our-team{
  width: 100%;
  margin: 0 auto;
}

.title-our-team {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02;
  margin-bottom: 8px;
}

.list-our-team-name {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.icons-portfolio-item {
  width: 40px;
  height: 40px;
}
.soc-icons-portfolio-link{
  margin-top: 8px;
}

.icons-portfolio-link {
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-portfolio-link:hover,
.icons-portfolio-link:focus {
  background-color: #404bbf;
}

.icons-portfolio {
  fill: #f4f4fd;
}

.img-our-team{
  margin: 0 auto;
}
@media screen and (min-width: 320px) {
.list-our-team{
  width: 100%;
}
 
}

/* section4 */
.section-portfol {
  flex-shrink: 0;
  padding-top: 48px;
  padding-bottom: 48px;
}
.title-our-portfolio {
  color: #2e2f42;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.item-portfol {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  
}
.title-our-portfolio-h {
  color: #2e2f42;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.text-our-team {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.text-our-team:hover {
  transform: translateY(0%);
}
.list-our-portfolio {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-our-portfolio:hover {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.container-portfol {
}

.list-portfolio {
  background: #fff;
}

.list-portfolio-img {
  position: relative;
  overflow: hidden;
}

.text-our-team-hidden {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-our-portfolio:hover .text-our-team-hidden{
  transform: translateY(0%);
}

.list-text {
  letter-spacing: 0.02;
}
.container-app {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  position: relative;
  overflow: hidden;
}
.soc-icons-portfolio-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

/* footer */
.footer {
  background-color: #2e2f42;

  padding: 100px 0;
}
.logo-footer {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  /* margin-bottom: 16px; */
 
}

.logo-span-foooter {
  color: #f4f4fd;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.list-text-footer {
  width: 264px;
  color: #f4f4fd;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.container-footer {
  /* display: flex; */
  /* align-items: baseline; */
  display: block;
 
}

.container-icons-footer-link {
  padding: 36px 40 px;
}
.container-logo {
  /* display: block; */
  /* margin-right: 120px; */
  display: inline-block;
  
    }
.title-icons-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.icons-footer-list {
  display: flex;
  gap: 16px;
}
.icons-footer-social {
  width: 40px;
  height: 40px;
}
.icons-footer-link {
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-footer-link:hover,
.icons-footer-link:focus {
  background-color: #31d0aa;
}

.icons-footer {
  fill: #f4f4fd;
}

.backdrop{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #2E2F4266;
  opacity: 0;
  visibility: hidden;
  position: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
 width: 408px;
 min-height: 584px;
 border-radius: 4px;
 background-color: #FCFCFC;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate( -50%, -50%);
 transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 padding-left: 24px;
 padding-right: 24px;
 box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
 padding: 72px 24px 24px 24px;
}

.modal-close{
 border-radius: 50%;
 width: 24px;
 height: 24px;
 background-color: rgba(231, 233, 252, 1);
 border: 1px solid rgba(0, 0, 0, 0.1);
 padding: 0;
 cursor: pointer;
 position: absolute;
 top: 24px;
 right: 24px;
 display: flex;
 justify-content: center;
 align-items: center;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close:hover>.icons-close,
.modal-close:focus>.icons-close{
fill: #ffffff;
}

.icons-close{
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title{
 font-weight: 500;
 line-height: 150%;
 letter-spacing: 0.02em;
 color: #2E2F42;
 margin-bottom: 16px;
 text-align: center;
}

.modal-form{
  }

.label-name{
 width: 34px;
 height: 14px;
 font-size: 12px;
 line-height: 117%;
 letter-spacing: 0.04em;
 color: #8E8F99;
 margin-bottom: 4px;
 display: block;
}

.modal-field{
 margin-bottom: 8px;
}

.modal-input{
width: 100%;
height: 40px;
border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition-duration: 300ms;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus{
  border-color: #4D5AE5;
}
.modal-input:focus + .icons-modal{
  fill:#4D5AE5;;
}
.modal-input-wrap{
  position: relative;
}
.modal-input::placeholder {
  visibility: hidden;
}

.icons-modal{
  position: absolute;
  fill: #2E2F42;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-texarea{
  width: 100%;
height: 120px;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
border: 1px solid rgba(46, 47, 66, 0.4);
background-color: transparent;
padding: 8px 16px;
resize: none;
border-radius: 4px;
padding: ;
outline: transparent;
transition-duration: 300ms;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-texarea:focus{
  border-color: #4D5AE5;
}
.modal-field-textarea{
  margin-bottom: 16px;
}
.checkbox-text{
  font-size: 12px;
line-height: 117%;
letter-spacing: 0.04em;
color: #8E8F99;
}

.checkbox-link{
 color: #4D5AE5;
}

.modal-checkbox{
  display: flex;
  margin-bottom: 24px;
}

.input-checkbox-hidden {
 
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.label-checkbox{
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.span-label-checkbox{
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
}

.input-checkbox-hidden:checked + .label-checkbox .span-label-checkbox{
  background-color: #404bbf;
  border: none;
  fill: #F4F4FD;
}

.button-modal{
  display: block;
  cursor: pointer;
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
 background: #4D5AE5;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-footer{
display: flex;
flex-direction: column;
  /* margin-left: auto; */
}
.footer-form{
  display: flex;
  gap: 24px;
}

.label-footer{

}

.input-footer-text{
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
color: #ffffff;
width: 75px;
height: 24px;
}
.email-foot-input{
width: 264px;
height: 40px;
border: 1px solid #ffffff;
background-color: transparent;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
padding-left: 16px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
color: #ffffff;
}

.email-foot-input::placeholder{
 color: #ffffff;
}

.input-footer-btn{
min-width: 165px;
height: 40px;
display: flex;
font-family: "Roboto", sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
cursor: pointer;
border: none;
border-radius: 4px;
padding: 8px 24px;
background-color: #4D5AE5;
color: #fff;
letter-spacing: 0.04em;
text-align: center;
justify-content: center;
align-items: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-footer-btn{
  margin-left: 16px;
  fill: #ffffff;
}

.icons-footer-btn:hover,
.icons-footer-btn:focus{
background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .container{
    width: 768px;
  }
/* Header */
.address{
  display: flex;
  color: var(--SLATE, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.list-adress{
  display: flex;
  flex-direction: column;
}
.icons-burger{
  display: none;
}
.list-nav{
  display: flex;
}

/* section 1 */
  .title-main{
font-size: 56px;
line-height: 1.07;
margin-bottom: 36px;
  }
  /* section 2 */
  .section-advant {
   
    padding: 120px 0;
  }
  .title-advant{
text-align: start;
  }
  .list-advant{
    column-gap: 24px;
  }
  .item-advant{
    display: inline-block;
    width:calc((100% - 24px) / 2);
  }
  /* section 3 */
  
  .section-portfolio{
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .title-our-team{
    font-size: 36px;
    line-height: 1.11;
  }
  .ul-our-team{
    column-gap: 24px;
  }
  .list-our-team{
    width:calc((100% - 24px) / 2);
  }
  .title-our-team{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  }

/* section 4 */

.list-our-portfolio{
  width:calc((100% - 24px) / 2);
}

  
}

@media screen and (min-width: 1158px){
  .container{
    width: 1158px;
  }
  /* header */
  .logo{
  margin-right: 76px;
  }
  .address{
    padding: 24px 0;
  }
  .list-adress {
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }
    
  /* section 1 */
  .title-main{
margin-bottom: 48px;
  }
  /* section  2*/
  .title-advant{
  font-size: 20px;
  line-height: 1.2;
  }
  .list-text{
   font-weight: 400;
  }
  .list-advant{
   display: flex;
  }
  .icons-advant{
    margin: 24px 100px;
  }
  .icons-advant-wrap,
  .ad-hidden {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  }
  /* section 3 */
  
.section-portfolio {
  padding: 120px 0;
}
.ul-our-team{
  gap: 24px;
}
.list-our-team{
 width:calc((100% - 72px) / 4);
}

/* section 4 */

.section-portfol{
  padding-top: 120px;
  padding-bottom: 120px;
}
.item-portfol{
  row-gap: 48px;
}
.list-our-portfolio{
  width: calc((100% - 48px) / 3);
}

/*  footer  */
}